a:hover,
.about-title span,
.lemon-counters li>i,
.title>span,
.variety-text>span,
.variety-text>strong,
.view-all,
.package-detail>i,
.therapist-detail>i,
.therapist-detail>span,
.therapist-detail>a,
.social-links>a:hover,
.blog-details>i,
.meta>li a,
.blog-details>h3 a:hover,
.review>span,
.review>i,
.widget-title>i,
.timings>li i,
.title-inner>span,
.spa-service-detail>i,
.price-slide-title i,
.tabs-selectors>a.active,
.member>span,
.gallery-hover>i,
.gallery-selectors>a.active,
.lemon-product-detail>i,
.star i,
.price,
.abt-ctr-text strong,
.price-slide>ul li span,
.price-tabs.style2 .price-slide-title .price-title-inner span,
.appointment-banner>i,
.rating i,
.lemon-product>span,
.product-price ins,
.review-text>strong i,
.lemon-pagetop h1 span,
.welcome-video>i,
.simple-title>i,
.comment-detail h5 span,
.popular-post-name>span,
.video-widget>i,
.member-detail>i,
.member-detail strong pre,
.product-rating i,
.product-top>span a,
.custom-tabs .nav li.active a,
.package-info>i,
.service-detail>i,
.service-intro i,
.error-page h2,
.error-page>i,
.contact-title-inner>i,
.spa-slide-text>i,
.lemon-cart td,
.cart-product>a:hover,
.returning strong a,
.create-account.radio-field label,
.order-bottom ul li.total-price strong,
.layer1,
.layer6 i,
.menu ul li:hover>a,
.soon-title span,
.soon-title strong,
.newsletter h4,
header.style5 .menu li ul li:hover>a,
header.style7 .menu li ul li:hover>a,
header.style8 .menu li ul li:hover>a,
.sidemenu>ul li.active>a,
.bottom-link {
    color: #39bcdd;
}

.lemon-btn:hover i,
.variety-selector>a:before,
.all-button,
form.newsletter button,
.blog-date:before,
.owl-nav>div:hover,
.contact-button .lemon-btn,
.contact-button .lemon-btn i,
.social-icons>a:hover,
.appointment-box,
.member-social>a:hover:before,
.welcome-strip,
.lemon-post-img>span,
.lemon-newsletter,
.newsletter-form>form button,
.lemon-fancy-post>.fancy-date span,
.appointment-banner .lemon-btn,
.appointment-banner .lemon-btn i,
.product-img>a,
.fancy-reviews-carousel .owl-nav>div:hover,
.lemon-team.dark .member-img:before,
.lemon-team.dark .member-social>a:hover,
.lemon-gallery.style2 .gallery-img:before,
.lemon-product-wrapper.dark .lemon-product-img .lemon-btn,
.lemon-product-wrapper.dark .lemon-btn i,
.lemon-product-wrapper.dark .lemon-product-selectors>a:before,
.go-button.style2 .lemon-btn,
.go-button.style2 .lemon-btn i,
.pagination>ul li:first-child a:hover,
.pagination>ul li:last-child a:hover,
.comment-img>a,
.comment-form>form .lemon-btn,
.comment-form>form .lemon-btn i,
.popular-post:hover:before,
.video-popup>a:before,
.book-btn .lemon-btn,
.book-btn .lemon-btn i,
.product-thumbs button:hover,
.product-detail-bottom .cart-btn .lemon-btn,
.product-detail-bottom .cart-btn .lemon-btn i,
.custom-tabs .nav li a:before,
.custom-tabs .nav li a:after,
.booking-btn,
.service-detail-img>span,
.search-form button,
.lemon-cart td .input-group span.input-group-btn button:hover,
.lemon-cart>button:hover,
.shipping-box .lemon-btn,
.shipping-box .lemon-btn i,
.total-box .lemon-btn,
.total-box .lemon-btn i,
.checkout-page .lemon-btn,
.checkout-page .lemon-btn i,
.header-links>a span,
header.style5 .menu,
header.style8 .menu,
header.style6 .menu>nav>ul>li:hover,
header.style6 .menu>nav>ul>li:hover>a>i,
.layer5,
.layer5 i,
.tparrows:hover,
.newsletter form button,
.countdown li,
.time-box:before,
.time-box:after {
    background-color: #39bcdd;
}

.responsive-header ul li a:before {
    border-color: #39bcdd;
}

.countdown li:before {
    border-right-color: #39bcdd;
}